[PaperMC
[Handles
[Written
[ --== Installation
[ --== Paper
# Loading build
# Removed
[ --== Checking
|  
[ --== Version
[ --== Starting
[ --== Download
[ --== End
# Done
# Selecting latest
*****
+====
# Temporary
# Saved
# Loading version